/*Header - Navbar*/

header {
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 100px;
    background: var(--black);
    padding: 10px;
  }

  .bpflix-logo{
    width: 150px;
    height: auto;
  }
  
  .bpflix-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
  }
  
  .bpflix-nav-content h1 {
    font-size: 2em;
    margin: 0;
    font-weight: 700;
  }
  
  .bpflix-contact-container {
    display: flex;
    align-items: center;
  }
  
  .bpflix-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
  }